---
layout: home
title: Lowes Landscaping
---
<!-- Banner -->
	{% include home-banner.html %}

<!-- Carousel -->
	{% include home-services.html %}

<!-- Main -->	
			<div class="wrapper style1">

				<article id="main" class="container special">
					<a href="#" class="image featured"><img src="images/growinginvestment.jpg" alt="Landscape a growing investment" /></a>
					<header>
					  <h2><a href="#">A Growing Investment</a></h2>
						<span class="byline">
							Hiring a landscaper means making an ongoing investment in your property. You deserve to enjoy your outdoor space to the fullest. For more information or to schedule an on-site consultation with one of our landscapers, call us today and begin your own – “Growing Investment”.
					  </span>
					</header>
					<p>
						Our number one goal is customer satisfaction. We are a full service landscape company with a staff that takes pride in their work. We are ready to help you through the process from design and concept to installation. 
Our services include: Complete installation of natural and manufactured stone retaining walls and patios, brick paver walks and driveways, outdoor kitchens and fireplaces, new lawns, trees and shrubs, landscape lighting and irrigation. We guarantee all our work and achieving our client's vision is our passion.

				  </p>
					<!-- ><footer>
						<a href="#" class="button">Continue Reading</a>
					</footer> -->
				</article>

			</div>