<!-- Footer -->
<div id="footer">
	<div class="container">
		<div class="row">
			
			<!-- Contact Info -->
				<section class="6u">
					<header>
						<h2 class="fa fa-twitter circled solo"><span>Contact Info</span></h2>
					</header>
					
					<!-- Contact -->
					<section class="contact">
						<header>
							<h3>Lowes Landscaping</h3>
						</header>
						<p>1205 West Washington<br>
                        Cuba, Missouri<br>
                        573-885-0558</p>
						<ul class="icons">
						
							<li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
							<li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
							
						</ul>
					</section>
				</section>

			<!-- Contact Form -->
				<section class="6u">
					<header>
						<h2 class="fa fa-file circled solo"><span>Contact Form</span></h2>
					</header>
					<div id="wufoo-z1so8ypp0oaxu1k">
Fill out my <a href="https://loweslandscaping.wufoo.com/forms/z1so8ypp0oaxu1k">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com" >Wufoo</a></div>
<script type="text/javascript">var z1so8ypp0oaxu1k;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loweslandscaping', 
'formHash':'z1so8ypp0oaxu1k', 
'autoResize':true,
'height':'597',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1so8ypp0oaxu1k = new WufooForm();z1so8ypp0oaxu1k.initialize(options);z1so8ypp0oaxu1k.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
				</section>
				

		</div>
		<div class="row">
			<section class="12u">
			<header>
						<h2 class="fa fa-home circled solo"><span>Find Us</span></h2>
					</header>
			<div class="Flexible-container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3141.4358038313544!2d-91.41334619999998!3d38.060230649999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87dbce84a65b924d%3A0xd98f6442f90a2038!2s1205+W+Washington+Blvd!5e0!3m2!1sen!2sus!4v1393700055673" width="1200" height="300" frameborder="0" style="border:0"></iframe>
			</div>
			</section>
		</div>
		<hr />
		<div class="row">
			<div class="12u">														
				<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">
						<li>&copy; Lowes Landscaping. All rights reserved.</li>
					</ul>
				</div>						
			</div>					
		</div>
	</div>
</div>