			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
							<h2>573-885-0558</h2>
							<h1><a href="index.html" class="image" id="logo"><img src="images/loweslogo.png"  alt="Lowes' Landscaping"></a></h1>
							<hr />
							<span class="byline">Serving Cuba, Bourbon, Eureka, Fort Leonard Wood, Pacific, Rolla, St. James, St. Robert, Steelville, Sullivan, Union, Washington, and Waynesville, Missouri</span>
						</header>
						<footer>
								<a href="#footer" class="button">Get a Free Estimate</a>
						</footer>
					</div>
				<!-- Nav -->
					{% include nav.html %}

			</div>