<!-- <div class="carousel">
	<div class="reel">

		<article>
			<a href="design.html" class="image featured"><img src="images/waterfeature.jpg" alt="Landscape Design project in Cuba MO" /></a>
			<header>
				<h3><a href="design.html">Design and Construction</a></h3>
			</header>
			<p>Creative ideas and practical solutions for outdoor living  </p>							
		</article>
	
		<article>
			<a href="retail.html" class="image featured"><img src="images/plantedinstonebaby.jpg" alt="Planted in Stone Landscape Supply Store" /></a>
			<header>
				<h3><a href="retail.html">Landscape Supplies</a></h3>
			</header>
			<p>Visit Planted In Stone for bedding plants, mulch, soil and other stuff.</p>							
		</article>
	
		<article>
			<a href="maintenance.html#snow" class="image featured"><img src="images/twotruckssnowremoval.jpg" alt="two trucks removing snow and ice" /></a>
			<header>
				<h3><a href="maintenance.html#snow">Snow Removal</a></h3>
			</header>
			<p>What shall we say about snow and ice removal - in two lines</p>							
		</article>
	
		<article>
			<a href="maintenance.html#landscape" class="image featured"><img src="images/landscapemaintenance.jpg" alt="landscape maintenance" /></a>
			<header>
				<h3><a href="maintenance.html#landscape">Landscape Maintenance</a></h3>
			</header>
			<p>Hiring a landscaper means making an ongoing investment in your property</p>							
		</article>
	

		

  </div>
</div> -->
<!-- Features -->
			<div class="wrapper style2">
				
				<section id="services" class="container special">
					<div class="row">
								<article class="3u special">
			<a href="design.html" class="image featured"><img src="images/waterfeature.jpg" alt="Landscape Design project in Cuba MO" /></a>
			<header>
				<h3><a href="design.html">Design and Construction</a></h3>
			</header>
			<p>Creative ideas and practical solutions for outdoor living  </p>							
		</article>
	
		<article class="3u special">
			<a href="retail.html" class="image featured"><img src="images/plantedinstonebaby.jpg" alt="Planted in Stone Landscape Supply Store" /></a>
			<header>
				<h3><a href="retail.html">Landscape Supplies</a></h3>
			</header>
			<p>Visit Planted In Stone for bedding plants, mulch, soil and other stuff.</p>							
		</article>
	
		<article class="3u special">
			<a href="maintenance.html#snow" class="image featured"><img src="images/twotruckssnowremoval.jpg" alt="two trucks removing snow and ice" /></a>
			<header>
				<h3><a href="maintenance.html#snow">Snow Removal</a></h3>
			</header>
			<p>What shall we say about snow and ice removal - in two lines</p>							
		</article>
	
		<article class="3u special">
			<a href="maintenance.html#landscape" class="image featured"><img src="images/landscapemaintenance.jpg" alt="landscape maintenance" /></a>
			<header>
				<h3><a href="maintenance.html#landscape">Landscape Maintenance</a></h3>
			</header>
			<p>Hiring a landscaper means making an ongoing investment in your property</p>							
		</article>
					</div>
				</section>

			</div>