	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>
				<a href="about.html"><span>About Us</span></a>
				<!-- ><ul>
					<li><a href="about.html#roots">Our Roots</a></li>
					<li><a href="about.html#testimonials">Testimonials</a></li>
				</ul> -->
			</li>
        	<li>
				<a href="design.html"><span>Design &amp; Construction</span></a>
				<!-- <ul>
					<li><a href="design.html#walls">Retaining Walls</a></li>
					<li><a href="design.html#patio">Patios, Walkways</a></li>
                    <li><a href="design.html#water">Water Features</a></li>
                    <li><a href="design.html#outdoorliving">Outdoor Living</a></li>
				</ul> -->
			</li>
            <li>
				<a href="maintenance.html"><span>Maintenance</span></a>
				<!-- ><ul>
					<li><a href="maintenance.html#snow">Snow Removal</a></li>
					<li><a href="maintenance.html#lawn">Lawn Care</a></li>
                    <li><a href="maintenance.html#irrigation">Irrigation</a></li>
                     <li><a href="maintenance.html#fertilization">Fertilization</a></li>
                    <li><a href="maintenance.html#bed">Bed Maintenance</a></li>
					</ul> -->
			</li>
			<li><a href="retail.html">Landscape Store</a></li>
			<li><a href="#footer">Contact Us</a></li>
            	
		
		</ul>
        
	</nav>